<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="../../assets/tinyrr.jpeg" class="img-thumbnail imgedit"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-fill w-50">
      <li class="nav-item">

        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>

        <a class="nav-link" [routerLink]="['/albums']" routerLinkActive = "router-link-active">Albums<span class="sr-only"></span></a>
        <a class="nav-item"></a>

        <a class="nav-link"[routerLink]="['/artists']" routerLinkActive = "router-link-active">Artist<span class="sr-only"></span></a>
        <a Class="nav-item"></a>

        <a class="nav-link"[routerLink]="['/art']" routerLinkActive = "router-link-active">Art<span class ="sr-only"></span></a>
        <a Class = "nav-item"></a>


      </li>
    </ul>
  </div>
</nav>
